.act_bg
  .draw_bg
    .title_bg
    .row.prize_row
      .col-md-2
      .prize_display.col-md-2
        .prize_display_title
        .prize_display_image
          SWITCH(ng-switch, on="prize.isMystery")
            WHEN(ng-switch-when="true")
              SWITCH(ng-switch, on="prize.showImage")
                WHEN(ng-switch-when="true")
                  img.prize_image(ng-src="{{prize.image}}")
                WHEN(ng-switch-default)
                  img.prize_image(ng-src="{{mysteryImage}}")
            WHEN(ng-switch-when="false")
              img.prize_image(ng-src="{{prize.image}}")
        .prize_display_description(ng-if="prize.showPrizeDesc")
          p.prize_lead {{prize_desc}}
      .col-md-8.draw
        .rod_area
          img.rod_image(ng-src="{{rod}}")
        .title_image_area
          img.title_image(ng-src="{{prize.titleImage}}")
        .draw_area
          .draw_area_mez
            SWITCH(ng-switch, on="prize.complete_once")
              WHEN(ng-switch-when="true")
                SWITCH(ng-switch, on="prize.started")
                  WHEN(ng-switch-when="true")
                    ul.list-unstyled.list-inline.draw_ul_single
                      li(ng-repeat='slot in prize.slots', ng-click='changeSlotState(slot)', ng-class='getSlotClass(slot)')
                        span {{slot.number}}
                  WHEN(ng-switch-when="false")
                    .draw_image
                      img(ng-src="images/draw_multi_box_ready.png")
                      br
                      （{{prize.capacity}} 名）
              WHEN(ng-switch-when="false") 
                ul.list-unstyled.list-inline.draw_ul_multi
                  li(ng-repeat='slot in prize.slots', ng-click='changeSlotState(slot)', ng-class='getSlotClass(slot)')
                    SWITCH(ng-switch, on="slot.started")
                      WHEN(ng-switch-when="true")
                        span {{slot.number}}
                      WHEN(ng-switch-when="false")
                        span(ng-bind-html="space")
                
.celebrate
  img(ng-src="{{celebrate_gif}}")
