.winner_list_bg
  .winner_list_area
    .winner_list 
      .prize_list(ng-repeat='prize in prizes')
        .prize_title
          img(ng-src="{{prize.titleImage}}")
        .prize_winners
          ul.list-unstyled.list-inline
            li(ng-repeat='slot in prize.slots')
              strong {{slot.number | winners_filter}}
