.winner_list_toomuch_bg
  .winner_list_toomuch_title_bg 
  .winner_list_toomuch 
    .winner_list_toomuch_prize(ng-repeat='prize in prizes')
      div(ng-class="getToomuchTitleClass(prize.name)")
        span {{prize.name}}
      .winner_list_toomuch_prize_number_wrap
        .winner_list_toomuch_prize_number
          .winner_list_toomuch_prize_number_single(ng-repeat='slot in prize.slots', ng-if='$index < 3') 
            {{slot.number | winners_filter}}
        .winner_list_toomuch_prize_number(ng-if='prize.slots.length > 3')
          .winner_list_toomuch_prize_number_single(ng-repeat='slot in prize.slots', ng-if='$index > 2')
            {{slot.number | winners_filter}}
